body {
  background-color: ghostwhite;
}

div.container {
    margin-left:20px;
    /*margin-top: 10px;
    margin: 0 auto;
    #width:2000px;*/
}

.error{
    color: red;
    font-style: italic;
}

.alert-file-predict{
    background-color:ghostwhite;
}


#eventresponse{
    color: red;
    font-style: italic;
}


.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	/*visibility: hidden;*/
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
