
{% extends 'base.html' %}

{% block content %}

<div class = "container", id="container">
<form action="/tweet" method="POST">
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label" >Which tweet do you want to classify?</label>
  <div class="form-group w-50">
  <textarea placeholder="input tweet here" name="input_tweet" class="form-control" 
            id="exampleFormControlTextarea1" rows="2" required></textarea>
  </div>
</div>
<button type="submit" class="btn btn-primary">Predict</button>
</form>
<br/><br/>
{% if in_text %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Result: {{pred}}</strong> <br/>Tweet: <br/> {{in_text}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

</div>

{% endblock %}
