
{% extends 'base.html' %}

{% block content %}


<div class = "container", id="container">
<form id= "fileinput-form" action="/file" method="POST", enctype="multipart/form-data" >
  <div class="form-group col-md-4" >
    <input  class="form-control" type="file" accept=".csv,.txt" id="inputfile" name="inputfile" aria-label="file example">     
    <div id="eventresponse"> </div>
    <!--<label id="inputfile-error" class="error" for="inputfile" style=""> </label> -->
    
    <input class="form-control" id="hidden-input" type="hidden">
  </div>
  <div style="margin-top:10px">
   <button class="btn btn-primary" id="submit" type="submit">Predict</button>
    
  </div>
</form>
</div> 

{% endblock %}


{% block script %}
<script>

$("#inputfile").bind("change",function(){
   var filesize = this.files[0].size;
   var filename = this.files[0].name;
   var x = "";
   console.log(filesize);
   console.log(filename);

   fetch(`${window.origin}/eventtrigger`,{
   method: "POST",
   credentials: "include",
   body: JSON.stringify({filename,filesize}),
   cache: "no-cache",
   headers: new Headers({"content-type": "application/json"})   
   })
   .then(function(response){
       if (response.status == 200) {
       return response.json();
       }     
   })
   .then(function(data) {
       console.log(data);
       console.log(data.valid_filesize[0].status); 
       console.log(data.valid_extension[0].status); 
       if (data.valid_extension[0].status == 'False') {
           for (i=0; i < data.valid_extension[0].extensions.length-1;i++){
               x += "." + data.valid_extension[0].extensions[i] + ", ";
               }; 
           x += "." + data.valid_extension[0].extensions[data.valid_extension[0].extensions.length-1];
           $("#eventresponse").text(`Please input a file extension: ${x} allowed.`);
       } else if (data.valid_filesize[0].status == 'False'){
           var filesize = data.valid_filesize[0].filesize/1024/1024
           $("#eventresponse").text(`Filesize exceeds the limit of: ${filesize.toFixed(2)} MB.`);
       } else {
       console.log("cleared");
       }
   })
   .catch((error) => console.log(error))    
});


 
</script>
{% endblock %}